*{
  margin:0;
  padding:0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #233142;
}

.logo {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 700;
  font-size: xx-large;
  margin-left: 10%;
}

.nav-links {
  color: #e3e3e3;
  margin-left: 1.2em;
  font-size: large;
  font-weight: 500;
}

.right-aligned {
  justify-content: flex-end;
  margin-right: 10%;
}

.active .nav-links {
  color: #f95959;
}
.navbar{
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.form-inline{
  width: 50%;
}

.form-group{
  width: 50%;
}

.input-group {
  width: 60% !important;
}

tr {
  border: 5px solid #233142;
}

h4{
  font-family: serif;
  font-weight: 800 !important;
}

#qrcode{
  align-items: center;
  margin-left: 630px;
}

.Ebutton{
  margin-left: 10px;
  margin-right: 10px;
}